/*Corrected*/
body{
        background-image: linear-gradient(#9E606F, #C07F80, #E1AA96, #E9BCB2, #E1989F);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 0%;
        margin: 0%;
        font-family: "Times New Roman", Times, serif;
        overflow-x: hidden;
        width: fit-content;
}
.view {
    width: 100%;
    height: 100%;
    width: 100%;
    margin: 0em;
    padding: 0em;
}
/*Heading*/
.Name1{
    top: -12%;
    left: 1%;
    position: absolute;
    font-size: 12em;
}
.Name2{
    top: 12%;
    left: 1%;
    position: absolute;
    font-size: 10em;
}
.Name3{
    top: 50%;
    left: 2%;
    position: absolute;
    font-size: 4em;
}

.Picture1{
    height: 70%;
    width: 32%;
    background-color:#9E606F;
    top: 14%;
    left: 63%;
    position: absolute;
    border-radius: 25%;
}
.Picture2{
    height: 66%;
    width: 27.4%;
    background-color: white;
    top: 16%;
    left: 65%;
    position: absolute;
    border-radius: 25%;
}
.flower5{
    height: 25%;
    width: 30%;
    top: 12%;
    left: 78%;
    position: absolute;
}
.flower2{
    height: 25%;
    width: 30%;
    top: 66%;
    left: 49%;
    position: absolute;
}
/*border*/
.stick{
    position: sticky;
    z-index: 200;
}
.border1{
    height: 30%;
    width: 30%;
    top: 84%;
    left: -7%;
    position: absolute;
}
.border2{
    height: 30%;
    width: 30%;
    top: 84%;
    left: 10%;
    position: absolute;
}
.border3{
    height: 30%;
    width: 30%;
    top: 84%;
    left: 26%;
    position: absolute;
}
.border4{
    height: 30%;
    width: 30%;
    top: 84%;
    left: 43%;
    position: absolute;
}
.border5{
    height: 30%;
    width: 30%;
    top: 84%;
    left: 60%;
    position: absolute;
}
.border6{
    height: 30%;
    width: 30%;
    top: 84%;
    left: 77%;
    position: absolute;
}
.flowernav1{
    height: 30%;
    width: 30%;
    top: -12%;
    left:-7%;
    position: absolute;
}
.flowernav2{
    height: 30%;
    width: 30%;
    top: -12%;
    left: 10%;
    position: absolute;
}
.flowernav3{
    height: 30%;
    width: 30%;
    top: -12%;
    left: 27%;
    position: absolute;
}
.flowernav4{
    height: 30%;
    width: 30%;
    top: -12%;
    left: 44%;
    position: absolute;
}
.flowernav5{
    height: 30%;
    width: 30%;
    top: -12%;
    left: 61%;
    position: absolute;
}
.flowernav6{
    height: 30%;
    width: 30%;
    top: -12%;
    left: 77%;
    position: absolute;
}
/*About me*/
.About{
    height: 55%;
    width: 51%;
    background-color: aliceblue;
    top: 124%;
    left: 24%;
    position: absolute;
    border-radius: 10%;
}
.Abouttitle{
    top: 121%;
    left: 41%;
    position: absolute;
    font-size:50px;
}
.AboutF{
    top: 132%;
    left: 25%;
    position: absolute;
    font-size:2em;
}
.flower1{
    height: 20%;
    width: 30%;
    top: 122%;
    left: 60%;
    position: absolute;
}
.flower6{
    height: 20%;
    width: 30%;
    top: 167%;
    left: 9%;
    position: absolute;
}

/*Skills*/
.Skillstitle{
    top: 198%;
    left: 46%;
    position: absolute;
    font-size:50px;
}
.Skills{
    height: 72%;
    width: 64%;
    background-color: aliceblue;
    top: 202%;
    left: 18%;
    position: absolute;
    border-radius: 10%;
}
.python{
    height: 29%;
    width: 24%;
    top: 214%;
    left: 15.2%;
    position: absolute;
}
.pythonF{
    top: 235%;
    left: 24%;
    position: absolute;
    font-size: xx-large;
}
.C{
    height: 29%;
    width: 24%;
    top: 215%;
    left: 30%;
    position: absolute;
}
.CF{
    top: 235%;
    left: 39.6%;
    position: absolute;
    font-size: xx-large;
}
.H{
    height: 29%;
    width: 25%;
    top: 215%;
    left: 46%;
    position: absolute;
}
.HF{
    top: 235%;
    left: 55%;
    position: absolute;
    font-size: xx-large;
}
.JS{
    height: 29%;
    width: 25%;
    top: 215%;
    left: 60%;
    position: absolute;
}
.JSF{
    top: 235%;
    left: 67.7%;
    position: absolute;
    font-size: xx-large;
}
.django{
    height: 30%;
    width: 15%;
    top: 241%;
    left: 20%;
    position: absolute;
}
.djangoF{
    top: 263%;
    left: 24%;
    position: absolute;
    font-size: xx-large;
}
.spring{
    height: 22%;
    width: 25%;
    top: 246%;
    left: 29%;
    position: absolute;
}
.springF{
    top: 263%;
    left: 38.4%;
    position: absolute;
    font-size: xx-large;
}
.java{
    height: 23%;
    width: 20%;
    top: 245%;
    left: 48%;
    position: absolute;
}
.javaF{
    top: 263%;
    left: 56%;
    position: absolute;
    font-size: xx-large;
}
.sql{
    height: 18%;
    width: 20%;
    top: 250%;
    left: 64%;
    position: absolute;
}
.sqlF{
    top: 263%;
    left: 70.3%;
    position: absolute;
    font-size: xx-large;
}
.flower7{
    height: 22%;
    width: 30%;
    top: 200%;
    left: 67%;
    position: absolute;
}
.flower8{
    height: 22%;
    width: 30%;
    top: 200%;
    left: 3%;
    position: absolute;
}
.flower9{
    height: 22%;
    width: 30%;
    top: 260%;
    left: 67%;
    position: absolute;
}
.flower10{
    height: 22%;
    width: 30%;
    top: 262%;
    left: 2%;
    position: absolute;
}
/*Projects*/
.boop{
    height: 15%;
    width: 23%;
    background-color: #9E606F;
    top: 295%;
    left: 38%;
    position: absolute;
    border-radius: 31%;
}
.Projectstitle{
    top: 293%;
    left: 44%;
    position: absolute;
    font-size:50px;
}
.titlecard{
    height: 13%;
    width: 21%;
    background-color: white;
    top: 296%;
    left: 39%;
    position: absolute;
    border-radius: 31%;
}
.Projectsa{
    height: 80%;
    width: 40%;
    background-color: #9E606F;
    top: 323%;
    left: 7%;
    position: absolute;
    border-radius: 10%;
}
.flower12{
    height: 20%;
    width: 30%;
    top: 321%;
    left: -8%;
    position: absolute;
}
.flower14{
    height: 20%;
    width: 30%;
    top: 390%;
    left: 32%;
    position: absolute;
}
.monopoly{
    height: 75%;
    width: 36%;
    top: 328%;
    left: 9%;
    border-radius: 10%;
    position: absolute;
}
.Projectsb{
    height: 80%;
    width: 40%;
    background-color: #9E606F;
    top: 323%;
    left: 53%;
    position: absolute;
    border-radius: 10%;
}
.flower11{
    height: 20%;
    width: 30%;
    top: 321%;
    left: 77%;
    position: absolute;
}
.flower13{
    height: 20%;
    width: 30%;
    top: 390%;
    left: 38%;
    position: absolute;
}
.cookbook{
    height: 75%;
    width: 36%;
    top: 328%;
    left: 55%;
    position: absolute;
    border-radius: 10%;
}
.Projectsc{
    height: 80%;
    width: 40%;
    background-color: #9E606F;
    top: 411%;
    left: 7%;
    position: absolute;
    border-radius: 10%;
}
.flower19{
    height: 20%;
    width: 30%;
    top: 408%;
    left: 32%;
    position: absolute;
}
.flower21{
    height: 20%;
    width: 30%;
    top: 478%;
    left: -8%;
    position: absolute;
}

.Projectsd{
    height: 80%;
    width: 40%;
    background-color: #9E606F;
    top: 411%;
    left: 52%;
    position: absolute;
    border-radius: 10%;
}
.flower20{
    height: 20%;
    width: 30%;
    top: 408%;
    left: 37%;
    position: absolute;
}
.flower22{
    height: 20%;
    width: 30%;
    top: 478%;
    left: 77%;
    position: absolute;
}
/*Contacts for when new projects go brr just del ones on top and del the 1s*/
.Contacts1{
    height: 40%;
    width: 64%;
    background-color: aliceblue;
    top: 513%;
    left: 17%;
    position: absolute;
    border-radius: 25%;
}
.ContactsT1{
    top: 512%;
    left: 44%;
    position: absolute;
    font-size: xx-large;
}
.ContactsL1{
    top: 514%;
    left: 42.5%;
    position: absolute;
    font-size: xx-large;
}
.Mail1{
    top: 523%;
    left: 39%;
    position: absolute;
    height: 25%;
    width: 20%;
}
.Linkdin1{
    top: 522%;
    left: 20%;
    position: absolute;
    height: 26%;
    width: 21%;
}
.Github1{
    top: 522%;
    left: 58%;
    position: absolute;
    height: 25%;
    width: 20%;
}
.flower151{
    height: 20%;
    width: 30%;
    top: 511%;
    left: 65%;
    position: absolute;
}
.flower161{
    height: 20%;
    width: 30%;
    top: 511%;
    left: 2%;
    position: absolute;
}
.flower171{
    height: 20%;
    width: 30%;
    top: 537%;
    left: 66%;
    position: absolute;
}
.flower181{
    height: 20%;
    width: 30%;
    top: 537%;
    left: 2%;
    position: absolute;
}

/*Contacts for when new projects go brr /*contacts for now*/
.Contacts{
    height: 40%;
    width: 64%;
    background-color: aliceblue;
    top: 420%;
    left: 17%;
    position: absolute;
    border-radius: 25%;
}
.ContactsT{
    top: 419%;
    left: 44%;
    position: absolute;
    font-size: xx-large;
}
.ContactsL{
    top: 421%;
    left: 42.5%;
    position: absolute;
    font-size: xx-large;
}
.Mail{
    top: 429%;
    left: 39%;
    position: absolute;
    height: 25%;
    width: 20%;
}
.Linkdin{
    top: 428%;
    left: 20%;
    position: absolute;
    height: 26%;
    width: 21%;
}
.Github{
    top: 428%;
    left: 58%;
    position: absolute;
    height: 25%;
    width: 20%;
}
.flower15{
    height: 20%;
    width: 30%;
    top: 419%;
    left: 65%;
    position: absolute;
}
.flower16{
    height: 20%;
    width: 30%;
    top: 419%;
    left: 2%;
    position: absolute;
}
.flower17{
    height: 20%;
    width: 30%;
    top: 445%;
    left: 66%;
    position: absolute;
}
.flower18{
    height: 20%;
    width: 30%;
    top: 445%;
    left: 2%;
    position: absolute;
}
